* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}

html {
    scroll-behavior: smooth;
}




.navbar {

    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    width: 100%;
    height: 100px;
}

.nav-container {
    display: flex;
    margin-left: 4rem;
    align-items: center;
    gap: 2rem;

}

.deliveryman,
.pickup {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 14px;
    background-color: #dfefff4d;
    padding: 7px 24px;
}

.deliveryman,
.pickup:active {
    border: 2px solid red;
    border-radius: 5px;

}

.nav-container2 {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: .5rem;
}

.button {
    padding: 9px 11px;
    background-color: red;
    border-radius: 5px;

}

.button a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.button:hover {
    background: rgb(227, 0, 0);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .nav-container {
        flex-direction: column;
        margin-left: 0;
        gap: 1rem;
    }

    .nav-container2 {
        flex-direction: column;
        margin-right: 0;
        gap: 1rem;
    }

    .deliveryman,
    .pickup {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .button {
        width: 100%;
        text-align: center;
    }
}

.reorder {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    height: 45px;
    margin-top: 1rem;


}

.reorder a {
    text-decoration: none;
    color: white;
    font-weight: bold;


}

.reorder:hover {
    background-color: rgb(227, 0, 0);
    ;
    cursor: pointer;

}

.heading {
    display: flex;
    margin-left: 3.5rem;
    margin-top: 2rem;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    top: 2rem;
    padding: 0px 15px 0px 0px;


}

.heading::after {
    content: "";
    background-color: red;
    width: 80px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;


}

.items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 5rem;
    flex-wrap: wrap;

}

.items {
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;

}

.items:hover {
    transform: translateY(-10px);

}

.img img {
    width: 150px;
}

.description {
    text-align: center
}

.underline {
    border: 2px solid red;
    width: 50px;
    margin: auto;

}

.best-sellers {
    text-align: center;
    padding: 2em 0px;
    margin-top: 5rem;
}

.seller-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.item {
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    /* transition: 0.3s; */
}

.item:hover {
    /* transform: translateY(-5px); */
}

.item img {
    width: 100%;
    border-radius: 8px;
}

.item h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.price {
    display: inline-block;
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.price:hover {

    background: white;
    color: black;
    border: 1px solid red;
}

.rate {
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.banner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 20px;
    max-width: 1300px;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.banner img {
    width: 100%;
    border-radius: 10px;
}

.explore-banner {
    border-radius: 10px;
    background-color: rgb(249, 249, 249);
}

.para {
    font-size: 20px;
    margin-top: 2rem;
}

.click {
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
}

.click a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.click:hover {
    background: rgb(227, 0, 0);
}

.footer-section {
    text-align: center;
    margin-top: 5rem;

}

.logo2 {
    margin-right: 3.5rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    margin-left: 1.5rem;
    background-color: rgb(231, 226, 226);
    border-radius: 50%;
    padding: 8px;
}

.list-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 22rem;
    margin-top: 2.5rem;

}

.list {
    text-align: start;
}

.list ul {
    list-style: none;

}

.list li {
    line-height: 2rem;
    cursor: pointer;
}

.list li:hover {
    color: red;
}

.copyright {
    text-align: left;
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 15px;
    font-weight: bold;
}

.buttun-img {
    text-align: end;
    margin-top: -14rem;
    margin-right: 4rem;
}

.powered {
    text-align: end;
    margin-top: 7rem;
}

.powered h1 {
    font-size: 15px;
    font-weight: 600;
    color: red;
    margin-right: 9rem;
}

.powered a {
    margin-right: 2rem;
    font-size: 14px;
    color: black;
    text-decoration: underline;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: rgb(237, 237, 237);
    margin: 20px auto;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.character {
    width: 250px;
    margin-right: 30px;
}

.login-form {
    padding: 20px;
}

.login-form h2 {
    font-size: 30px;
    font-weight: 800;
}

.login-form label {
    font-size: 14px;
    margin-bottom: 5px;
}


input {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

.login-main,
.google-login {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.login-main {
    background: pink;
}

.google-login {
    background: red;
    color: white;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
    }

    .character {
        width: 150px;
        margin-bottom: 20px;
    }
}

/* <----------------------------------------------------------> */
.buttons-container {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.button1 {
    background-color: #e8e7e7;
    color: black;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px 15px;
    font-weight: bold;

}

.button1 a {
    text-decoration: none;
    color: black;
}

.button1 a:active {
    background-color: #e3002a;
    color: #ffff;

}

.button1:active {
    background-color: #e3002a;
    color: #ffff;
}

html {
    scroll-behavior: smooth;
}

/* <------------------------------------> */
.slider {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fffbfb;


}

.slider header .login {
    background-color: #e3002a;
    padding: 10px 2px;
    width: 60px;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;



}

.login a {
    color: white;
    text-decoration: none;
    font-weight: bold;



}

.sliderlogo {
    text-align: center;
}

.slider ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    text-decoration: none;
    border-top: 1px solid rgba(236, 228, 228, 0.849);
    transition: .4s;

}

ul li:hover a {
    padding-left: 50px;
    background-color: rgb(187, 183, 183);
}

.fa-solid {
    margin-right: 16px;
    background-color: #e3002a;
    padding: 8px;
    color: white;

}

/* <---------------------------------------------. */
.bucket {
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 450px;
    margin: auto;
    border-radius: 10px;
}

.bucket span {
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bold;
}

.line {
    width: 95%;
    height: 20px;
    margin-left: 1rem;
    color: black;

}

.bucket-img {
    text-align: center;
}

.fa-solid {
    border-radius: 50%;
    background-color: #ffffff;
    color: black;
    border: 1px solid red;
}

.fa-solid:hover {
    color: white;
    background-color: #e3002a;
}

.bucket-img {
    margin-top: 20px;
}

.bucket-img h5 {
    margin-top: 20px;
}

.bucket-img a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #e3002a;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.bucket-img a:hover {
    background-color: red;

}

.item-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 5rem;
}

.header2 {
    font-weight: bold;
    margin-left: 5.5rem;
    margin-top: 2rem;

}

.explore-item {
    background-color: rgb(244, 244, 244);
    margin-top: 5rem;
    margin-left: 2rem;
}

.image {
    width: 220px;
    text-align: center;
}